@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
body { font-family: 'Montserrat' , sans-serif; }

nav .nav-item a{
	font-weight: 600;
}
nav .nav-item a:hover, .nav-link:active{
    /*background-image: linear-gradient(to bottom, #ff385b, #f81577, #e60095, #c81eb2, #9a38cb, #ab33c7, #ba2dc2, #c826bc, #fc0e8f, #ff4361, #ff7836, #f8a60d);*/
    color: #80f2f2;
}

.my-nav{
    padding: 2px !important;
    padding-left: 10px !important;
}

@media only screen and (min-width:576px){
    .jumbotron{
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
    }
}

#home{
    background-image: url(images/home.jpg);
    background-size: cover;
    background-position:center;
    min-height:110%;
}

.home-page{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    font-weight:600;
}
@media only screen and (max-width: 800px){
    .home-page {
        padding: 10px;
    }
}
@media only screen and (max-width: 1100px){
    .home-page {
        padding: 32px;
    }
}    
@media only screen and (max-width: 1500px){
    .home-page {
        padding: 48px;

    }
}

.first-intro{
    font-size:2rem;
    font-weight:600;
    color: #9c0606;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
}
.intro-text{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(0, 0, 8);
}

.button-job{
    padding: 10px;
    margin: 20px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-image: radial-gradient(circle, #fb0591, #f200a2, #e400b4, #d000c8, #b500dc, #8756f6, #5078ff, #008fff, #00b8ff, #00d9ff, #00f1a8, #00ff00);
    background-position: center center;
}

header .fa-twitter::before{
    padding-left: 50%;
}
header .fa-facebook::before {
    padding-left: 100%;
}
header .fa-instagram::before{
    padding-left: 55%;
} 

.about-heading{
    font-size:320%;
    position:absolute;
    z-index:20;
    font-weight:1000px;
    color:rgb(255, 246, 246);
    margin-left:10vw;
    margin-right:10vw;
    margin-top:10vh;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.particles-h1{
    text-align: center;
    font-size:250%;
    position:absolute;
    z-index:20;
    font-weight:1000px;
    color:white;
    margin-left:5vw;


    margin-right:5vw;
    margin-top:5vh;
    font-family: 'Quicksand', sans-serif;
}
#about-belief{
    text-align: center;
    font-size:60%;
    color:white;
    margin-top:2vh;
    margin-bottom:2vh;
}
#shocking-p {
    font-size:50%;
    color:white;
    margin-top:1vh;
    margin-bottom:2vh;
}

#team{
    padding: 20px;
    padding-top: 50px;
    background-image: linear-gradient(to bottom, #393738, #3c3a3c, #3f3d3f, #424143, #454447, #515053, #5d5d60, #6a6a6d, #858587, #a0a0a2, #bdbdbd, #dadada);

}
.team-heading{
    text-align: center;
    color: whitesmoke;
}

#advisor{
    padding: 50px 0 50px 0;
    color: black;
    background-color: #edeff2;
}
#advisor .container h1{
    /*font-family: 'Charm', cursive;*/
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
}
#advisor .container p{
   
    font-weight: 600;
    text-align: center;
    /*padding-bottom: 30px;*/
}

#advisor .container .polaroid{
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
    text-align: center; 
    transition: transform .2s;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#advisor .container .polaroid p{
    padding: 10px 0 0 0;
    /*font-family: 'Charm', cursive;*/
    margin-bottom: 0;

}
#advisor .container .polaroid:hover{
    transform: scale(1.03);
}
#advisor .advisor-icon i{
    font-size: 25px;
    text-align: center;
    color: black;
    letter-spacing: 10px;

}
#advisor .advisor-icon i:hover{
   color: #afc6ea;
}


.box{
    color: white;
    text-align: center;
    padding: 10px;
}
hr{
    height: 4px;
    margin-left: 15px;
    margin-bottom:-3px;
}
.hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
}
/* .about-heading{
    font-size:320%;
    position:absolute;
    z-index:20;
    font-weight:1000px;
    color:rgb(255, 246, 246);
    margin-left:10vw;
    margin-right:10vw;
    margin-top:20vh;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
} */

.team-img{
    border-radius: 50%;
    height: 50px;
}


.listing{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    margin-top: 5px;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

@media (min-width: 1200px){
.timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
}}

@media (min-width: 992px){
.timeline>li .timeline-image {
    width: 160px;
    height: 160px;
    margin-left: -75px;
}}
@media (min-width: 768px){
.timeline>li .timeline-image {
    left: 50%;
    width: 140px;
    height: 140px;
    margin-left: -50px;
}}
.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 120px;
    height: 120px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #fed136;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}

/*!
 * Start Bootstrap - Agency Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    /* font-family: {{ site.data.template.font.secondary }}; */
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}


.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 10px 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    /* background-color: #{{ site.data.template.color.primary }}; */
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 15px 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color:white;
    font-size: 120%;
    font-weight: 600;

}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
    font-size: 100%;
    font-weight: 500;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 20px 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 25px 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 30px 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 30px 100px 20px 20px;
    }
}


img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
.profile-icon i{
    font-size: 25px;
}
.profile-icon i:hover{
    color: white;
    transform: scale(1.1);
}



/*----------------*/
#c1{
    background-color: white;
    background-image: url(images/a2.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20% 45%;
    padding: 40px 0 20px 0;
    height: auto;
    
}
#c2{
    background-color: white;
    background-image: url(images/a3.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20% 45%;
    padding: 40px 0 20px 0;
    height: auto;
    
}
#c3{
    background-color: white;
    background-image: url(images/a1.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 20% 45%;
    padding: 40px 0 20px 0;
    height: auto;
    
}
@media only screen and (max-width: 775px){
    #c1,#c2,#c3 {
    background-image: none;
 }

}
 
#c1 h1,
#c2 h1,
#c3 h1{
    text-align: center;
   /* font-family: 'Charm', cursive;*/
    font-weight: 600;
}


/*#c1 .container .s1{
    background-image: url(images/new1.png);
}*/
#c1 .container,
#c2 .container,
#c3 .container{
    padding-top: 30px;
    padding-bottom: 40px;
}

#c1 .content h3,
#c2 .content h3,
#c3 .content h3{
   /* font-family: 'Charm', cursive;*/
    font-weight: 600;
    padding: 10px 0 10px 0;
}
#c1 .content p,
#c2 .content p,
#c3 .content p{
   /* font-family: 'Charm', cursive;*/
    font-size: 1.1em;
    padding: 10px 0 10px 0;
}

#untold{
    padding: 50px 0 30px 0;
    color: black;
    background-color: white;
}
#untold .container h1{
    /*font-family: 'Charm', cursive;*/
    font-weight: 600;
    text-align: center;
}
#untold .container p{
   /* font-family: 'Charm', cursive;*/
    font-weight: 600;
    text-align: center;
    padding-bottom: 30px;
}
#untold .container .polaroid{
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
    text-align: center; 
    transition: transform .2s;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
#untold .container .polaroid p{
    padding: 10px 0 10px 0;
    /*font-family: 'Charm', cursive;*/

}
#untold .container .polaroid:hover{
    transform: scale(1.1);
}


#contact{
    padding: 40px 0 40px 0;
    background-color: #585d66;
    color: white;
}
#contact .container h1{
    /*font-family: 'Charm', cursive;*/
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}
#contact .container p{
    /*font-family: 'Charm', cursive;*/
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
    color: #80f2f2;
}

#contact .container h4{
    /*font-family: 'Charm', cursive;*/
    font-weight: 600;
    color: #80f2f2
}
#contact .container .address{
    /*font-family: 'Charm', cursive;*/
    font-weight: 500;
    font-size: 1.1em;
}
#contact .container .address i{
    color: #80f2f2;
}
#contact .follow{
    text-align: right;
}
#contact .follow i{
	padding-top: 10px;
    font-size: 1.4em;
    color: white;
}
#contact .follow i:hover{
    color: #80f2f2;
}

@media only screen and (max-width: 700px){
	#contact .container .visit-us{
	    text-align: center;
	    padding-bottom: 20px;
	}
    #contact .follow{
        text-align: center;

    }   
}


#sitemap{
    background-color: #dee3ed;
    padding-left: 5px;
}
#sitemap .container{
    padding: 25px ;
}
#sitemap .heading a{
    text-decoration: none;
    color: black;
}
#sitemap .heading-content a{
    text-decoration: none;
    color: #404147;
    font-weight: 600 !important;
    font-size: 15px;
}
#sitemap a:hover{
    color: #71737f;
}


#sitemap .icon-link a{
    
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    padding-left: 11px;

    color: #fff;
    background-color: #222;
    
}
#sitemap .icon-link a:hover{
    background-color: #71737f;
    
}
#sitemap .icon-link i{
    
    text-decoration: none;
    font-size: 20px;
    
}
#sitemap .icon-link i:hover{
    color: #80f2f2;
    
}
#sitemap .address{
    font-weight: 600;
}
@media only screen and (max-width: 772px){
	#sitemap .heading h5{
	    font-size: 14px;
	}
	#sitemap .contact h5{
	    font-size: 14px;
	}

	#sitemap .heading-content a{
	    font-size: 13px;
	}
	#sitemap .address{
	    font-size: 13px;
	}
}

#copyright{
    background-color: black;
    padding: 15px 0 10px 0;
}
#copyright p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: white;
}
#copyright a{
    text-align: center;
    
    color: #80f2f2;
}

.img{
    width:200px;
    height:200px ;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px blue;
    border: 4px solid sandybrown;
}
.container1{
        display: inline-block;
        padding:2%;
        margin: auto;margin-top: 10px;
}

.overlay1{
    opacity: 0.5;z-index: 1;
    transition: 1s ease-in-out;z-index: 1;
    
}
.container1:hover .overlay1{
    opacity: 1;z-index: 1;
    transform: scale(1.3);
    color: blue;
}
.text1{
    color: black;
    font-size: 20px;
    position: relative;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -160%);
    -ms-transform: translate(-50%, -160%);
    transform: translate(-50%, -160%);
    text-align: center;

  }